%table
  %thead
    %tr
      %th pid
      %th user
      %th location
      %th database
      %th command
      %th time
      %th state
      %th info
  %tbody
    - @processes.each do |process|
      %tr
        %td= process[:pid]
        %td= process[:user]
        %td= process[:location]
        %td= process[:database]
        %td= process[:command]
        %td= process[:time]
        %td= process[:state]
        %td= process[:info]